<article>
  <div class='card-header'>
    <h3><a href="/home/comment/{{id}}">{{title}}</a></h3>
    <h6>Posted by: {{user.username}} on {{formatDateTime created_on}}</h6>
  </div>
  <div class='card-content-wrapper'>
    <div class='card-content'>
      {{text}}
    </div>
  {{#each blog_comments as |comment|}}
  {{> comments isLoggedIn=../isLoggedIn}}
  {{/each}}
  </div>
</article>
